# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives: 
- Lanuages used in data science
- Tools for data science
- Working on jupyter lab
- working on Github
- introduction to python, R

Some of the popular languages that Data Scientists use are:
1. R
2. SQL
3. Python

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplotlyp

| Data Science Tools |
|--------------|
| Apache Spark |
|    Julia     |
|Jupyter notebook|
|  IBM SPSS    |

# Below are a few examples of evaluating arithmetic expressions in Python
<,>,!,=

In [4]:
#This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print (a)

17

In [9]:
#this will convert 200 minutes to hours by diving by 60
a = 200
b = 200/60
print(b)

3.3333333333333335

# Author
Vinay Dagar